# Suppress warnings from Google Test
InheritParentConfig: true
Checks: '-cppcoreguidelines-owning-memory,-cppcoreguidelines-avoid-non-const-global-variables,-cppcoreguidelines-non-private-member-variables-in-classes'
