name: Build, test and deploy

on:
  push:
    branches:
      - master
      - ci
  pull_request:
    branches:
      - master
  schedule:
    - cron:  '0 0 * * 6'

jobs:

  #
  # Ubuntu
  #

  ubuntu:
    name: Ubuntu
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler:
          - { name: "gcc", cxx: "g++-14" }
          - { name: "clang", cxx: "clang++" }

    steps:
    - uses: actions/checkout@v6

    - name: Update apt-get cache
      run: sudo apt-get update

    - name: Install APT dependencies
      run: >
        sudo apt-get install lsb-release wget software-properties-common &&
        sudo apt-get install
        libboost-dev
        libeigen3-dev
        libomp5
        libomp-dev
        openmpi-bin
        openmpi-common
        openmpi-doc
        libopenmpi-dev
        libblas-dev
        liblapack-dev
        libfftw3-dev
        libgmp-dev
        hdf5-tools
        libhdf5-dev
        python3-dev
        python3-numpy
        python3-scipy
        python3-matplotlib
        ipython3
        python3-mpi4py
        python3-mako

    - name: Install Sphinx and related packages
      if: matrix.compiler.name == 'clang'
      run: |
           pip install --upgrade pip
           pip install \
               sphinx nbsphinx linkify-it-py sphinx-rtd-theme myst-parser

    - name: Build & install TRIQS
      env:
        CXX: ${{ matrix.compiler.cxx }}
      run: |
        git clone https://github.com/TRIQS/triqs --branch 3.3.x
        mkdir triqs/build && pushd triqs/build
        cmake ..                                                               \
          -DCMAKE_BUILD_TYPE=Debug                                             \
          -DCMAKE_INSTALL_PREFIX=$HOME/install                                 \
          -DBuild_Tests=OFF
        make -j2 install VERBOSE=1
        popd

    - name: Build SOM
      env:
        CXX: ${{ matrix.compiler.cxx }}
      run: |
        source $HOME/install/share/triqs/triqsvars.sh
        if [[ "${CXX}" == clang* ]]; then
          DOCS="ON"
        else
          DOCS="OFF"
        fi
        mkdir build && pushd build
        cmake ..                                                               \
          -DCMAKE_BUILD_TYPE=Debug                                             \
          -DBUILD_SHARED_LIBS=ON                                               \
          -DBuild_Documentation=${DOCS}
        make -j2 VERBOSE=1
        popd

    - name: Test SOM
      run: |
        sudo sh -c 'echo -e "\nrmaps_base_oversubscribe = 1" >>                \
          /etc/openmpi/openmpi-mca-params.conf'
        pushd build
        source $HOME/install/share/triqs/triqsvars.sh
        ctest --output-on-failure
        popd

    - name: Deploy documentation
      if: github.ref == 'refs/heads/master' && matrix.compiler.name == 'clang'
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        branch: gh-pages
        token: ${{ secrets.GITHUB_TOKEN }}
        folder: build/doc/html
